.reviews_detial {
  margin-top: 10px;
  width: 1200px;
}

.review1 {
  height: 50px;
}

.r1 {
  width: 150px;
  height: 30px;
  line-height: 20px;
  font-size: 16px;
  padding: 13px;
}


.review2 {
  height: 100px;

}

.r2 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.r2 div {
  height: 90px;
}

.r2-1{
  border-right: 1px solid #909090;
}
.r2-1 i {
  margin-left: 10px;
}

.r2-1 div {
  height: 12px;
  font-size: 1rem;
}

.r2-2 {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid hsl(0, 0%, 56%);
  width: 160px;
}

.r2-2 svg{
margin-top: 15px;
}


#file {
  color: black;
  font-size: 10px;
}

.review3 {
  height: 350px;
}
.r3-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100px;

}
@media screen and (max-width: 750px) {
  .r3-1{
    display: flex;
    flex-direction: column;
    height: 100px;
  } 
}

.r3-info {
  margin-left: 10px;
  margin-top: 20px;

}

.r3-info img{
  height:50px;
  width:50px;
  border-radius: 50px; 
}

.r3-name{
  display: flex;
  width:120px;
  align-items: center;
  justify-content: space-between;
}

.r3-star{
  margin-top: 10px;
  display: flex;
}

.r3-star svg{
  width:10px;
  height:10px;
}

.r3-info p{
  margin-top: 10px;
}

.show_more button{
  margin-top: 250px;
  width: 200px;
  height: 30px;
}

@media screen and (max-width: 750px) {
.show_more button{
  margin-top: 450px;
}
}