/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

     * {
      box-sizing: border-box;
      font-size: 14px;
    }
    input {
      outline: none;
    }
    .box{
      width: 100wh;
      height: 220px;
      border-bottom: 1px solid #e0e0e0;
      background: linear-gradient(to top, #f9f9f9, white);
    }

    .box1 {
      display: flex;
      background: linear-gradient(to top, #f9f9f9, white);
      height: 200px;
      width: 1200px;
      margin: 0 auto;
      flex-wrap: wrap;

    }

    .box1 div {
      box-sizing: border-box;
    }

    #nav {
      width: 1200px;
      height: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

    }

    #logo {
      padding-top: 20px;
      padding-left: 20px;
    }

    #logo svg {
      fill: #ff385c;
    }

    #list {
      padding-top: 20px;
    }

    #list a {
      display: inline-block;
      width: 100px;
      height: 50px;
      text-decoration: none;
      color: #9b9b9b;
    }

    #list a:hover {
      color: black;
    }

    #list a img {
      width: 50px;
      height: 50px;
    }

    #list a div {
      display: flex;
      align-items: center;
      height: 50px;
    }

    #info {
      padding-top: 40px;
      width: 180px;
    }

    #info div {
      display: flex;
      height: 20px;
      justify-content: space-around;
      align-items: center;
    }

    #info button {
      width: 70px;
      height: 30px;
    }

    #info span {
      display: inline-block;
      width: 40px;
      height: 40px;
    }

    #info span {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #info span img {
      width: 20px;
      height: 20px;
    }

    #search {
      display: flex;
      justify-content: center;
      width: 1200px;
      height: 60px;
    }
    #con{
      box-shadow: 3px 3px 20px #999;
    }

    #search form {
      display: flex;
      margin-top: 10px;
      align-items: start;
      justify-content: space-around;
      width: 800px;
      height: 100px;

    }

    #address {
      width: 200px;
    }

    #time {
      width: 200px;
      height: 100px;
    }

    #people {
      display: flex;
      width: 200px;
      height: 100px;
    }

    #people2 {
      width: 130px;
      height: 100px;
    }

    #mysearch {
      display: flex;
      align-items: start;
      padding-top: 10px;
      width: 70px;
      height: 100px;
    }
    #mysearch img{
      width: 20px;
      height: 20px;
    }
    #addrss div:hover{
      color: red;
    }