    .box{
      width: 100wh;
      height: 220px;
      border-bottom: 1px solid #e0e0e0;
      background: linear-gradient(to top, #f9f9f9, white);
    }

    .box1 {
      display: flex;
      background: linear-gradient(to top, #f9f9f9, white);
      height: 200px;
      width: 1200px;
      margin: 0 auto;
      flex-wrap: wrap;

    }

    .box1 div {
      box-sizing: border-box;
    }

    #nav {
      width: 1200px;
      height: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

    }

    #logo {
      padding-top: 20px;
      padding-left: 20px;
    }

    #logo svg {
      fill: #ff385c;
    }

    #list {
      padding-top: 20px;
    }

    #list a {
      display: inline-block;
      width: 100px;
      height: 50px;
      text-decoration: none;
      color: #9b9b9b;
    }

    #list a:hover {
      color: black;
    }

    #list a img {
      width: 50px;
      height: 50px;
    }

    #list a div {
      display: flex;
      align-items: center;
      height: 50px;
    }

    #info {
      padding-top: 40px;
      width: 180px;
    }

     #info_a {
      width: 300px;
      display: flex;
      margin-top: -10px;
      flex-wrap: wrap;
    }

    #info button {
      width: 70px;
      height: 30px;
    }


    #info span {
      width: 40px;
      height: 40px;
      display: flex;
      margin-left: 10px;
      justify-content: center;
      align-items: center;
    }

    #info span img {
      width: 20px;
      height: 20px;
    }

    #search {
      display: flex;
      justify-content: center;
      width: 1200px;
      height: 60px;
    }
    #con{
      box-shadow: 3px 3px 20px #999;
    }

    #search form {
      display: flex;
      margin-top: 10px;
      align-items: start;
      justify-content: space-around;
      width: 800px;
      height: 100px;

    }

    #address {
      width: 200px;
    }

    #time {
      width: 200px;
      height: 100px;
    }

    #people {
      display: flex;
      width: 200px;
      height: 100px;
    }

    #people2 {
      width: 130px;
      height: 100px;
    }

    #mysearch {
      display: flex;
      align-items: start;
      padding-top: 10px;
      width: 70px;
      height: 100px;
    }
    #mysearch img{
      width: 20px;
      height: 20px;
    }
    #addrss div:hover{
      color: red;
    }
    #menu_a{
      margin-left: 130px;
    }
    #menu_a li{
      padding-top: 10px;
      text-align: center;
      width: 100px;
      height: 40px;
    }

    .hidden{
      display: none;
    }