#login_in {
  margin: 10px auto;
    width: 350px;
    height: 400px;
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.logo {
    width: 80px;
    height: 80px;
    background: #2c3e73;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-group {
    margin-bottom: 15px;
    text-align: left;
}
.input-group label {
    display: block;
    font-size: 14px;
    color: #333;
}
.input-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
}
.login-btn {
    display: block;
    width: 95%;
    padding: 10px;
    background: #2c3e73;
    color: white;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}
.login-btn:hover {
    background: #1f2d52;
}
.footer {
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.footer a {
    text-decoration: none;
    color: #2c3e73;
}